EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.your_public_mapbox_token_here
EXPO_PUBLIC_APP_ENV=local
EXPO_PUBLIC_API_BASE_URL_LOCAL=http://127.0.0.1:8000
EXPO_PUBLIC_API_BASE_URL_DEV=http://my-trail-app-dev-alb-1467436399.us-east-1.elb.amazonaws.com
EXPO_PUBLIC_API_BASE_URL_PRODUCTION=
EXPO_PUBLIC_API_BASE_URL=
